.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 100%;

}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

  width: 90%;

}
/* .map-left {
  width: 50%;
  background-color: aqua;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */


.map-left {
  width: 50%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-left-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  padding: 20px;
  height: 750px;
  /* background-color: aqua; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-right {
  width: 50%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aquamarine; */
  padding: 20px;
  height: 750px;
  /* background-color: aqua; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.map-right-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.map-right-lists::-webkit-scrollbar {
  width: 1px;
}
.map-right-lists::-webkit-scrollbar:hover {
  width:1px;
}

.map-right-lists::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  background-color: transparent;
}

.map-right-lists::-webkit-scrollbar-track {
  /* background-color: var(--color-light); */
  background-color: transparent;
  width:1px;

}

.map-right-lists::-webkit-scrollbar-track:horizontal {
  width:1px;

}

