.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 48px;
  justify-content: center;
  width: 100%;
  /* height: 100%;   */
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.landing-page {
  display: flex;
  flex-direction: row;
  max-width: 780px;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
  background-color: var(--color-light);
  border-radius: 4px;

  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.search-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  border-radius: 3px;
  margin: 48px;

  background-color: var(--color-light);
  /* background-color: blueviolet; */
}

.card-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-family);
}
.search-card h4 {
  font-size: 25px;
  font-weight: normal;
  font-family: var(--font-family);
}

.card-searchBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* padding: 12px 24px; */
}

.search-box {
  text-align: start;
  font-family: var(--font-family);
  font-weight: 500;
  outline: none;
  border: none;
}

.card-button {
  display: flex;
  flex-direction: row;
  width: 40%;
  border-radius: 3px;
}
.create-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 32px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-contrast);
  color: var(--color-light);
  font-family: var(--font-family);
  font-size: 20px;
  gap: 12px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 60px;
  transition: all 0.25s ease;
}

.create-button:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.create-icon {
  color: var(--color-light);
}

/* .create-icon:hover {
  color: var(--color-dark);
} */

.card-login {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: var(--color-dark);
  font-family: var(--font-family);
  font-size: 20px;
  letter-spacing: 0.4px;
}

.signIn-btn {
  border: none;
  outline: none;
  color: var(--color-contrast);
  transition: all 0.25s ease;
}

.signIn-btn:hover {
  color: var(--color-dark);
}

/* .search-card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  max-width: 45rem;
  position: absolute;
  top: 100px;
  left: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2.5rem;
}
h1 {
  font-size: 38px;
  font-family: var(--font-family);
}
.search-card h4 {
  font-weight: normal;
  font-family: var(--font-family);
}
.card-searchBox {
  position: relative;
  display: inline-block;
}
.search-box {
  background-color: rgb(228, 228, 228);
  border: none;
  outline: none;
  border-radius: 3px;
  width: 39.5rem;
  height: 2.5rem;
  padding: 15px;
}
.search-icon {
  position: absolute;
  right: 0;
  top: 0.5rem;
  margin-right: 7px;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  font-weight: 500;
}
.create-button {
  padding: 15px;
  border: none;
  background-color: rgba(18, 141, 255, 0.586);
  outline: none;
  color: white;
  width: 15rem;
  border-radius: 3px;
}
.card-button {
  margin-top: 15px;
  position: relative;
  display: inline-block;
}
.create-icon {
  color: white;
  position: absolute;
  right: 0;
  top: 1rem;
  margin-right: 30px;
}

.card-login {
  margin-top: 15px;
  display: flex;
}
.card-login p,
a {
  font-family: var(--font-family);
  padding: 2px;
} */
