.list-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  height: 100%;
}

.leaflet-popup-tip {
  display: none !important;
}
