.property-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* overflow: scroll; */
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px;
  background-color: var(--color-light);
  border-radius: 20px;
  /* padding: 20px 20px; */
}
.property-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  /* height: 100%; */
  height: 800px;
  /* max-width: 1920px; */
  width: 40%;
  /* width: 600px; */
  overflow: hidden;
  /* flex: 1; */
  border-radius: 20px;
  /* margin: 20px 10px; */
}

.property-image img {
  /* width: 100%; */
  width: auto;
  height: 800px;
  /* max-height: 800px; */

  /* height: auto; */
  /* max-height: 900px; */
  object-fit: contain;
  border-radius: 20px;
}
.property-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  max-height: 850px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  background-color: var(--color-light);
  border-radius: 20px;
  padding: 10px 20px;
}
.property-content-bottom {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  gap: 20px;
}

.property-content-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 2.25;
  /* background-color: brown; */
  gap: 15px;
  padding: 10px;
}
.property-content-details-header {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  width: 100%;
}
.property-content-details-header-title {
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 48px;
  font-weight: 600;
}

.property-content-details-header-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  color: var(--color-dark);
  font-size: 24px;
  font-weight: normal;
  gap: 10px;
}

.custom-rating .MuiRating-iconFilled {
  color: var(--color-contrast);
}
.custom-rating .MuiRating-iconEmpty {
  color: var(--color-dark-subtle);
}

.property-content-details-address {
  /* padding: 5px 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: aqua; */
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 18px;
  font-weight: normal;
}

.property-content-details-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* padding: 5px 0px; */
  /* background-color: aqua; */
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 18px;
  font-weight: normal;
}

.property-content-details-address img {
  height: 20px;
  width: 20px;
}

.property-content-details-images {
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1.5;
  flex-wrap: wrap;

  /* padding: 5px 0px; */
}

.property-content-details-images img {
  border-radius: 20px;
}

.property-content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  background-color: var(--color-light);
  /* background-color: beige; */
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.property-content-card-info {
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 16px;
  font-weight: normal;
}

.property-content-card-facilites {
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 20px;
  font-weight: normal;
}

.property-content-card-owner {
  font-family: var(--font-family);
  color: var(--color-dark);

  font-size: 20px;
  font-weight: normal;
}

.property-content-card-icons,
.property-content-card-buttons,
.property-content-card-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  padding: 5px 0px;
}
.property-content-card-area,
.property-content-card-tub,
.property-content-card-bed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  color: var(--color-dark);
}

.property-content-card-numbers {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: normal;
}

.property-content-card-price-title,
.property-content-card-date-title {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  color: var(--color-dark-subtle);
}

.property-content-card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 5px; */
  border-radius: 5px;
}

@media screen and (max-width: 1750px) {
  .property-image {
    height: 700px;
  }
  .property-image img {
    height: 700px;
  }

  .property-content-details-images img {
    border-radius: 20px;
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .property-image {
    height: 600px;
  }
  .property-image img {
    height: 600px;
    width: auto;
  }

  .property-content-details-images img {
    border-radius: 20px;
    height: 120px;
    width: 120px;
  }
  .property-content-card {
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
  }
  .property-content-details-description {
    font-size: 16px;
  }
  .property-content-details-header-title {
    font-size: 38px;
  }
}

@media screen and (max-width: 1150px) {
  .property {
    flex-direction: column;
  }

  .property-image {
    height: 400px;
    width: 80%;
  }
  /* .property-image img {
    max-height: 800px;
    width: 500px;
  } */
  .property-content {
    width: 90%;
  }
  .property-content-details-images img {
    border-radius: 20px;
    height: 100px;
    width: 100px;
  }
  .property-content-card {
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
  }
  .property-content-details-address {
    font-size: 16px;
  }

  .property-content-details-address img {
    height: 18px;
    width: 18px;
  }

  .property-content-details-description {
    font-size: 14px;
  }
  .property-content-details-header-title {
    font-size: 36px;
  }
}
