.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:45rem;
    font-family: var(--font-family);
    color: var(--color-dark);
    background-image: url('../../assets/images/about.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}
.about{
    margin-top: 50px;
}
.about-heading{
    text-align: center;
    color: var(--color-light);
}
.about-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
.card{
    border: none;
    
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
.card-body{
    background-color: var(--color-contrast);
    width: fit-content;
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
p{
    color: var(--color-light);
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.about-footer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 15px;
}
.about-footer .card{
    margin-left: auto;
    margin-right: auto;
}

.footer-text{
    margin-right:0px !important;
    width: 35rem;
    font-size: 17px;
}