.header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: var(--color-light);
  min-height: 80px;
}
.brand {
  font-family: var(--font-family);
  font-weight: bolder !important;
}
li a {
  font-family: var(--font-family);
  color: var(--color-dark) !important;
  font-weight: 500 !important;
}

.navbar-nav {
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-dark);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: 48px;
}
.username {
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--color-dark);
  font-size: 20px;
}

.user-menu {
  position: relative;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 25px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}

.menu-content {
  position: absolute;
  top: 100%;
  right: -50%;
  background-color: var(--color-light);
  border: none;
  margin: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--color-dark);
  font-size: 16px;
}

.rotate-icon {
  transform: rotate(180deg);
}
