.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  .dashboard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  .dash-header{
    align-items: flex-start;
    justify-content: center;
    background-color: #b1b1b1;
    width: 93.4rem;
    padding: 20px;
  }

  .dashed-line{
    margin: 0;
    height: 1.5px;
    border-top:2px dashed #000000;
    color: #000000;
  }
  .dash-buttons{
    display: flex;
    flex-direction: row;
    max-width: 40%;
    margin-top: 28px;
    margin-left: 40px;
    justify-content: space-around;
  }
  .bookmark-button{
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 16px 32px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-dark-subtle);
    color: var(--color-dark);
    font-family: var(--font-family);
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
  }

  .bookmark-button-click{
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 16px 32px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-contrast);
    color: var(--color-light);
    font-family: var(--font-family);
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.bookmark-button:hover{
  color: var(--color-dark);
}

.bookmark-button-click:hover{
  color: var(--color-light);
}

.dash-icon {
  color: var(--color-light);
}

.dash-carousel{
  margin-top: 28px;
  margin-left: 35px;  
  display: flex;
  flex-direction: row;
}


